* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  width: 60%;
  margin: auto;
}

.cart_box img {
  width: 50px;
  height: 50px;
}

.cart_img {
  display: flex;
  align-items: center;
}

.cart_img img {
  margin-right: 10px;
}

.cart_img p {
  font-weight: bold;
}

.cart_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid white;
  padding: 10px 0;
  color:white;
}

.cart_box button {
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  outline: none;
  color: white;
  background-color: #ce2029; /* Change this to the navbar color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart_box button:hover {
  background-color: black; /* Change this to the hover color */
}

.cart_box span {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white; /* Change this to white */
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid black;
  color: white;
}

.total span {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: white; /* Change this to white */
}
